body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Background.jpeg");

  background-attachment: fixed;

  /* Center the background image */
  background-position: center;

  /* Set the background image to no repeat */
  background-repeat: no-repeat;

  /* Scale the background image to be as large as possible */
  background-size: cover;
  opacity: .9;



}
nav
{
  padding: 2em;  
  background-color: white;
  height: fit-content;
  /* border styling*/
  border-width: 5px;
  border-style: solid;
  border-color: #0a6ba3;
  color: black;
  position:fixed;
  top:0;
  left:0; 
  width:100%;
  
}
.button-nav
{
  border: 3em, solid, cornflowerblue;
  background-color: cornflowerblue;
  color: antiquewhite;
  font:inherit;
  padding: 1em;
  margin: .3em;
  cursor: pointer;
  border-radius: 1em;
}
.button-nav:active,
.button-nav:hover
{
  border: 2em, solid, rgb(35, 109, 245);
  background-color: rgb(35, 109, 245);
}
.intro-Header
{
  padding: 2em;
  background-color: white;
  border-width: 5px;
  border-style: solid;
  border-color: #22a6f1;



}
.ProfileImage
{
  float:right;
  margin-left:1em;
  border-radius: 5em;  
}
article
{
 
  padding: 2em;
  border-width: 5px;
  border-style: solid;
  border-color: #22a6f1;
  z-index: 2;
  background-color: white;
  height: fit-content;
}
.projectImage
{
  height: 50px;
  width: 50px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container 
{
  padding: 2px 16px;
}
input
{
  margin: .2em;
}

.button-input
{
  border: 3em, solid, cornflowerblue;
  background-color: cornflowerblue;
  color: antiquewhite;
  font:inherit;
  padding: 1em;
  margin: .3em;
  cursor: pointer;
  border-radius: 1em;
}
.button-input:active,
.button-input:hover
{
  border: 2em, solid, rgb(35, 109, 245);
  background-color: rgb(35, 109, 245);
}
.cardSection
{
  column-count: 3;
  column-gap: 40px;
}
* {
  box-sizing: border-box;
}

body 
{
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.20s;
  width: min-content;
  height: min-content;
  margin: 100px;


}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}