
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Background.jpeg");

  background-attachment: fixed;

  /* Center the background image */
  background-position: center;

  /* Set the background image to no repeat */
  background-repeat: no-repeat;

  /* Scale the background image to be as large as possible */
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
  /*text-align: center;*/
  z-index: 0;
  margin: 0;
  padding: 0;
}
nav
{
  background-color: rgb(1, 8, 24);
  height: fit-content;
  /* border styling*/
  color: rgb(241, 228, 228);
  position:fixed;
  top:0;
  left:0; 
  overflow: hidden;
  text-align: center;
  width: 100%;
  z-index: 3;
  padding-left: 20em;
  padding-right: 20em;
}
.button-nav
{
  /*border: 3em, solid, cornflowerblue;
  border-radius: 1em;
   background-color: cornflowerblue;
  */
  color: rgb(103, 179, 250);
  font:inherit;
  padding:.5em;
  margin: .3em;
  cursor: pointer;
  width: fit-content;
  opacity: 1;
  height: auto;
  font-size: min(2.8em,300%);
}
.button-nav:active,
.button-nav:hover
{
  color: #12d3c9;
  border-color: #12d3c9;
  border-bottom: 5px;
  border-bottom: solid;
  margin-bottom: .1em;

}
.ProfileImage
{
  float:right;
  margin-left:1em;
  border-radius: 5em;  
  z-index: 2;

}
article
{
 
  border-color: #22a6f1;
  z-index: 0;
  background-color: white;
  text-align: center;
  width: 100%;

}
.projectImage
{
  height: 50px;
  width: 50px;
}
.card:hover 
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container 
{
  padding: 2px 16px;
}
input
{
  margin: .2em;
}

.button-input
{
  border: 3em, solid, cornflowerblue;
  background-color: cornflowerblue;
  color: antiquewhite;
  font:inherit;
  padding: 1em;
  margin: .3em;
  cursor: pointer;
  border-radius: 1em;
}
.button-input:active,
.button-input:hover
{
  border: 2em, solid, rgb(35, 109, 245);
  background-color: rgb(35, 109, 245);
}
.cardSection
{
  column-count: 2;
  column-gap: 10px;
}
* {
  box-sizing: border-box;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.20s;
  width: min-content;
  height: min-content;
  opacity: 1;
  margin: auto;
  margin-bottom: 1em;
}

/* Responsive columns - one column layout (vertical) on small screens */
.card-image
{
  height: 300px;
  width: 300px;
}
/******************** small screens****************************/
@media only screen and (min-width:480px)
{
  .grid-container-for-nav
  {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    padding: 10px;
  }
  .grid-container-for-projects
  {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20em,1fr));
    padding: 10px;
    margin-bottom: 4em;
  
  }
  .grid-container-for-posts 
  {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit,minmax(30em,1fr));
  padding: 10px;
  grid-gap:1em

  }
  .grid-container-for-article
  {
    
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30em,1fr));


  }
  .article-content
  {
  font-size: min(3em,300%);
  }
  .button-nav
  {
    font-size: min(1.3em,300%);
    
  }
}
/******************iphone****************


**************************************/
@media only screen and (min-width:900px)
{

  .grid-container-for-nav
  {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));

  }
  .grid-container-for-projects
  {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20em,1fr));
    padding: 10px;
    margin-bottom: 4em;
    font-size: 1.5em;
  
  }
  .grid-container-for-posts 
  {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit,minmax(30em,1fr));
  padding: 10px;
  grid-gap:1em

  }
  .grid-container-for-article
  {
    
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30em,1fr));
  padding: 10px;

  }
  .article-content
  {
  font-size: min(3em,300%);
  }
  .button-nav
  { 
    font-size: min(2.5em,300%);
  }
  .create-post-section
  {
    display: inline-block;
    text-align: left;
    font-size: min(3em,300%);
  }
  input{
    height: 5em;
  }

  input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 1.3em;
    color: #b8b8b8;
  }

  .intro-Header
  {
    font-size: 2em;
  }
  p{
    font-size: 3em;
  }
}

/******************desktop****************/

@media only screen and (min-width:1080px)
{
  .intro-Header
  {
    width: 100%;
    padding-top:120px ;
    position: relative;
    text-align: center;
    color: black;
    flex-wrap: wrap;
    height: 50%;
    text-align: center;
    z-index:1 ;
  }
  .grid-container-for-nav
  {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    z-index: 0;
  }
  p{
    font-size: 1em;
    min-height: 100%;
  }
  a 
  {
    font-size: .5em;
  }
  .card{
    font-size: 2em;
  }
  .button-nav
  {
    font-size: 1.5em;
  }
  .article-content
  {
  font-size: max(1em,200%);
  }
 
  .create-post-section
  {
    display: inline-block;
    text-align: left;
    font-size: 1em;
  }
  input
  {
    height: auto;
    font-size: 12px;
  }
  .button-input 
  {
    cursor: pointer;
    margin: 5px;
    padding: 1em;
    width:auto;
    font-size: 1em;
  }
  .intro-Header
  {
    font-size: 1em;
  }
}